/** Основное ***/
body{
	font: normal 11px 'Tahoma', serif;
	margin:0px;
	padding:0px;
}
div.left_col {
	float:left;
}
div.center_col {
	float:left;
	width:700px;
	padding: 15px 0px 0px 15px;
}
div.right_col {
	float:right;
	min-width:150px;
}
div.clear {
	clear:both;
}
.wrapper {
  display: table;
}
.cellLeft, .cellMiddle, .cellRight {
  display: table-cell !important;
  display: inline; /* для IE */
}
.cellRight {
  vertical-align: top;
  padding: 0px 0px 0px 15px;
}
.cellLeft{
	vertical-align: top;
}
.cellMiddle {  
}
.gbgrey {
	background-color: #E6E6E6;
}
.padd15 {
	padding: 15px;
}
.margin0{
	margin:0px;
}
.mb5 {
	margin-bottom: 5px;
}
.pad15 {
	padding: 15px 0px 0px 15px;
}
.per50{
	width:50%;
}
.w125{
	width:125px;
}
.t04{
	background-color: #ccc;
	height: 39px;
}
.w100{
	width:100%;
}
/** HEADER **/
.t011 {
	width: 125px;
	min-width: 125px;
	height: 115px;
	background-image: url('/i/logo.gif');
	background-position: left top;
	background-repeat: no-repeat;
	float:left;
}
.t11 {
	height: 94px;
	background-color: none;
	background-image: url('/i/top1.jpg');
	background-repeat: no-repeat;
	margin-left: 125px;
}
.t012 {
	width: 100%;
	background-image: url('/i/bg1.gif');
	background-position: left top;
	background-repeat: repeat-x;
	height:115px;
}
div.head_line{
	border-left: 1px solid white;
	vertical-align: middle;
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 10px;
	height: 39px;
}
form.fltfrm{
	position:absolute;
	right:50px;
}
/** HEADER **/
/** Основное ***/
/** LEFT MENU **/
div.leftmenu {
	margin: 10px 10px 10px 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
	color: #cc0000;
	font-weight: bold;
	border-bottom: 2px dashed #999;
}
div.leftmenu2{
	margin: 0px 10px 5px 30px;
	color: #999;
	font-weight: normal;
}
.leftmenu2 a{
	color: #555;
	text-decoration: none;
}
.border_grey{
	border-right: 1px solid grey;
}
div.left_col form{
	margin-left: 10px;
}
.left_col #loginform input {
	border: 1px solid #ccc;
	width: 100px;
	margin-bottom: 5px;
	font-size: 12px;
	padding: 2px;
}
.left_col #loginform label {
	font-weight: bold;
}
.fltbut{
	width:60px !important;
	color: white;
	background-color: #ED1B24;
	padding: 2px 5px 2px 5px;
}
/** LEFT MENU **/
/** CENTER **/
div.right_top{
	min-width: 700px;
}
div.right_top div.left {
	float:left;
	width: 235px;
}
div.right_top div.right {
	float:right;
	width: 465px;
}
span.newdt {
	color: #555;
	margin-right: 10px;
}
span.newtit{
	color: #333;
	text-decoration: none;
}
/** CENTER **/
/** RIGHT **/
.ttop1{
	background-color: #666666;
	color: white;
	vertical-align: middle;
	height: 24px;
	padding: 10px 10px 10px 15px;
}
div.brandfoto{
	float: left;
	margin: 0px 10px 10px 0px;
}
div.brandfoto a img{
	border: 0;
	width: 131;
	height: 218;
}
/** RIGHT **/
/** FOOTER **/
.botmenu {
	padding: 4px;
	background-color: #999;
	color: white;
	vertical-align: bottom;
	margin-top:18px;
}
a.bmenu {
	color: white;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
}
/** FOOTER **/