html, body, h1 {margin:0;height:100%;}
#wrapper {height:auto !important;height:100%;min-height:100%;min-width:800px;}

#header {height:250px; background-color:#CCC;}

#left {float:left;   width:300px; background-color:#E8E8E8}
#right {float:right; width:300px; background-color:#acb78e;}
#center {margin:0 300px 0 300px; background-color:#e1dfd8;}

#spacer {height:100px;}
#footer {margin-top:-100px; background-color:#b596b2;}/*height:100px;*/
.clear {clear:both;}

/*дополнительные блоки в ХЕДЕР*/
#header_left {float:left; background-color:#b5a642; width:300px; height:200px;}
#header_right {float:right; width:300px;  height:200px; background-color:#4169e1;}
#header_center {background-color:#ea8df7; margin:0 300px 0 300px; height:200px; text-align:center;}

#menu_main {background-color: #ddadaf; height: 50px;}

