.tbl {background-color: #d8e4f0;border: 1px solid black;margin: 0 auto; width:960px;border-spacing: 1px;font-size: 11px;}
.tbl tr {height: 15px !important;}
.tbl th {background-color: #d8e4f0;font-weight: bold;}
.headercell {border-bottom: 1px solid black;padding-bottom: 4px;white-space: nowrap;}
.headercell span {color: #047;font-weight: bold;cursor: pointer;}
img {border: none;}
#orders tr {border-bottom: 1px solid; border-top: 1px solid;}
/*.datefilter {border-bottom: 1px dotted black;color: #047;}*/
.inp {border: 1px solid black;height: 20px;width: 100px;}
.shw-rw {float: left;margin-right: 5px;}
.pagers {float: left;}
.pagers span {background-color: #047;color: white;float: left;}
.pagers span, .pager a {font-weight: normal;padding: 2px 6px;margin-right: 5px;float: left;white-space: nowrap;border: 1px solid black;}
.pagers a {text-shadow: #fff 1px 1px 1px;background-color: #fbfbfb;background-image: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);}
.menu-tab {height: auto;margin: 0;font-size: 11px;border-bottom: 2px solid black;}
.menu-tab ul {overflow: hidden;height: auto;}
.menu-tab ul li {float: left;height: auto;padding: 0;}
.blTab ul li .selected-button {font-weight: normal;color: #fff !important;background: #047 !important;border-radius: 5px;-moz-border-radius: 5px;border: none !important;}
.menu-tab ul li .selected-button {background: #d8e3ee url("http://s.exist.ru/img2/cat-tab-grad.png") repeat-x top left !important;color: black !important;border: 1px solid black !important;font-weight: bold;}
.blTab ul li a, .newsbody .blTab ul li a {margin: 0 0 10px;position: relative;border: none !important;}.menu-tab ul li a {border-width: 0;padding: 3px 15px 3px;display: block;text-align: center;white-space: nowrap;text-align: center;text-decoration: none;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;margin-bottom: -1px;}
.main-center a {text-decoration: none;}
.column-center a {text-decoration: none;}
.selected-button {background: #d8e4f0 !important;color: #003566;cursor: text;border: 1px solid black;}
.blTab ul li .selected-button::after {content: "";width: auto !important;height: auto !important;position: absolute;bottom: -12px;left: 15px;border-width: 6px;border-style: solid;border-color: black transparent transparent;}
label:hover{background: #fff;}
#orders input:checked + label,
#orders input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
 label:hover:after,
#orders input:checked + label:hover:after{
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
}

#orders input{
	display: none;
}
 #article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
 #article p{
	font-style: italic;
	color: #777;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
#article table{
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
#orders input:checked ~ #article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
 
#orders input:checked ~ #article.ac-large{
	height: 100%;
}
table.CityTable, table.StateTable{width:100%; border-color:black; text-align:center;}
	table.StateTable{margin:20px; border:1px solid black;}
	
	table.StateTable thead th{background-color:LightGrey; padding: 10px; cursor:pointer; color:white;}
	table.CityTable thead th{padding: 10px; background-color:LightGrey;cursor:pointer; color:black;}
	
	td.nopad{padding:0;}
	th.header {width:20%; padding:0px;}
td.brand {text-align: left;}
td.vend {text-align: right;}
table.tbl tbody td div {
	border-bottom: 2px solid black;
}